
header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1,3rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
#grid{
    height: 500px;
    background-color: rgb(28, 59, 38);
    color: rgb(255, 217, 0);
  }

  section#grid > article.square.active>span.content{
    display: none ;
}


button{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: rgb(255, 217, 0);
}